@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;250;300;350;400;500;600&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-title: hsl(223, 9%, 15%);
    --clr-text: hsla(223, 9%, 15%, 0.75);
    --clr-accent: hsla(29, 76%, 57%);
    --clr-button: hsl(189, 43%, 56%);
    --clr-shadow: hsl(0, 0%, 53%);

    --ff-main: 'Montserrat', sans-serif;
}

body {
    font-family: var(--ff-main);
    background-color: var(--clr-white);
    overflow-x: hidden;
}