:root {
    --clr-white: hsl(0deg, 0%, 100%);
    --clr-black: hsl(0deg, 0%, 0%);
    --clr-title: hsl(0, 0%, 16%);
    --clr-text: hsl(0, 2%, 35%);
    --clr-accent: hsl(11, 63%, 67%);
    --clr-section-bg: hsl(0, 0%, 95%);
    --ff-title: 'Kaushan Script', cursive;
    --ff-text: 'Poppins', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fs-large: clamp(1.5rem, 7vw, 7rem);
    --fs-title: clamp(2.5rem, 4.25vw, 4.25rem);
    --fs-subtitle: clamp(2rem, 3.5vw, 3.5rem);
    --fs-logo-sticky: clamp(1.25rem, 5vw, 5rem);
    --fs-content: clamp(1rem, 2vw, 1.5rem);
    --fs-work-role: clamp(1rem, 2.5vw, 2.5rem);
    --fs-small: clamp(.75rem, 1vw, 1rem);
    --fs-disclaimer: clamp(1.5rem, 2vw, 2rem);
}