/* #region General Styles */

body {
    font-family: var(--ff-text);
}

footer {
    padding-block: 1.5em;
}

svg {
    fill: var(--fill, #ffffff);
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

main {
    background-color: var(--clr-white);
}

main > :nth-child(even) {
    background-color: var(--clr-section-bg);
}

section > div {
    margin-inline: min(15vw, 40rem);
}

section > *,
section > * > * {
    opacity: 0;
    transition: opacity .75s;
}

section.active > *,
section.active > * > * {
    opacity: 1;
}

/* #endregion */

/* #region Composition */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.nowrap {
    flex-wrap: nowrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.overflow-visible {
    overflow: visible;
}

.margin-auto {
    margin: auto;
}

.stroke {
    stroke: var(--stroke, #ffffff);
    stroke-width: var(--stroke-width, 1);
}

#primary-navigation > * > a {
    position: relative;
    font-size: 1.5rem;
}

.underlined::after {
    display: inline-flex;
    z-index: -1;
    position: absolute;
    inset: auto auto 25% 0%;
    width: 0;
    height: .25em;
    content: '';
    background-color: var(--clr-accent);
    transition: width .3s;
}

.underlined:hover::after,
.underlined.active::after {
    width: 100%;
}

.hoverable {
    position: relative;
    width: fit-content;
    z-index: 0;
    transition: all .5s;
}

.hoverable::after {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 75%;
    height: 25%;
    content: '';
    z-index: -1;
    background-color: var(--clr-accent);
    transition: all .5s;
}

.hoverable:hover::after {
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.section-title {
    font-size: var(--fs-title);
    line-height: 1.2;
}

.section-subtitle {
    font-size: var(--fs-subtitle);
    line-height: 1.2;
}

.pop-up {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity,transform .35s;
}

.pop-up.popped {
    opacity: 1;
    transform: translateY(0);
}

/* #endregion */

/* #region Utility */

.cover-bg {
    background-image: url("../img/bg.webp");
    background-color: var(--clr-black);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-white,
.text-white > *,
.text-white > * > a {
    color: var(--clr-white);
}

.text-title,
.text-title > *,
.text-title > * > a {
    color: var(--clr-title);
}

.text-content,
.text-content > *,
.text-content > * > a {
    color: var(--clr-text);
}

.font-large {
    font-size: var(--fs-large);
}

.font-content {
    font-size: var(--fs-content);
}

.img-scaled {
    width: var(--img-size, 1em);
    height: var(--img-size, 1em);
}

.img-small {
    --img-size: 1.5em;
}

.img-big {
    --img-size: 6em;
}

.title {
    font-family: var(--ff-title);
}

.uppercase {
    text-transform: uppercase;
}

/* #endregion */

/* #region Block */

.landscape {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.no-fill {
    fill: none;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.above-everything {
    z-index: 9999;
}

.border-shadow {
    border: none;
    border-radius: .25em;
    box-shadow: 0 0 .5em var(--clr-black);
}

/* #endregion */

/* #region Exception */

[data-grid-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
}

img[data-max-size="75"] {
    max-width: 75%;
    max-height: 75%;
}

[data-gap="1"] {
    gap: 1em;
}

[data-gap="2"] {
    gap: 2em;
}

[data-gap="3"] {
    gap: 3em;
}

[data-padding="3"] {
    padding-block: 3em;
}

[data-min-height="large"] {
    min-height: calc(var(--fs-large) * 3);
}

[data-hover="grow"] {
    transition: transform .25s;
}

[data-hover="grow"]:hover,
[data-hover="grow"]:active {
    transform: scale(1.25);
    --fill: var(--clr-accent);
}

[data-margin-bottom="2"] {
    margin-bottom: 2em;
}

[data-animation="scroll"] path {
    animation: scroll 2.5s infinite;
}

[data-animation="scroll"] :first-child {
    animation-delay: -.15s;
}

[data-animation="scroll"] :last-child {
    animation-delay: 0;
}

[data-nav-sticky="false"] {
    padding-inline: 5em;
    padding-block: 1.5em;
    transition: all .5s;
}

[data-nav-sticky="false"] > nav {
    visibility: hidden;
}

[data-nav-sticky="true"] > nav {
    visibility: visible;
}

[data-nav-sticky="true"] {
    padding: 1.5em;
    background-color: var(--clr-white);
    box-shadow: 0 0 .75em var(--clr-black);
}

[data-element="navbar"] a {
    text-decoration: none;
}

[data-element="navbar"] ul {
    list-style-type: none;
}

[data-section="logo"],
[data-section="logo"] > * {
    transition: all .3s;
}

[data-nav-sticky="true"] > [data-section="logo"],
[data-nav-sticky="true"] > [data-section="logo"] > * {
    color: var(--clr-title);
    font-size: var(--fs-logo-sticky);
}

button[data-button="nav"] {
    display: none;
}

button[data-button="nav"] > span {
    --clr-span: var(--clr-white);
    width: 100%;
    height: .25em;
    border: 1px solid var(--clr-span);
    border-radius: 1em;
    background-color: var(--clr-span);
    transition: all .3s;
}

[data-nav-sticky="true"] button[data-button="nav"] > span {
    --clr-span: var(--clr-black);
}

button[data-button="nav"][aria-expanded="true"] > span {
    position: absolute;
    top: 50%;
    --clr-span: var(--clr-accent);
}

button[data-button="nav"][aria-expanded="true"] :first-child {
    transform: rotateZ(-45deg);
}

button[data-button="nav"][aria-expanded="true"] :nth-child(2) {
    transform: translateX(200%);
}

button[data-button="nav"][aria-expanded="true"] :last-child {
    transform: rotateZ(45deg);
}

/* #endregion */

/* #region Animations */

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    40% { opacity: 1; }
    80% { opacity: 0; }
    100% {
        opacity: 0;
        transform: translateY(25%);
    }
}

/* #endregion */

/* #region Mobile Fixes */

@media (max-width: 60em) {
    
    [data-nav-sticky="true"] > button[data-button="nav"] {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 2em;
        z-index: 9999;
        width: 3em;
        gap: .5em;
    }

    #primary-navigation {
        margin: 0;
        z-index: 9998;
        position: fixed;
        flex-direction: column;
        padding: min(30vh, 10em) 2em;
        inset: 0;
        transform: translateY(100%);
        transition: transform .35s ease-out;
        background-color: var(--clr-white);
        width: 100%;
        gap: 4em;
        padding-inline: 4em;
    }

    #primary-navigation[data-visible="true"] {
        transform: translateY(0);
    }

    #primary-navigation[data-visible="true"] > *,
    #primary-navigation[data-visible="true"] > * > * {
        font-size: 3rem;
    }

    #about > :first-child {
        flex-direction: column;
    }

    #interests {
        flex-direction: column;
    }

    #interests .img-scaled {
        --img-size: 4em;
    }

    #skills {
        display: flex;
        flex-direction: column;
    }

    #skills > div {
        align-items: center;
    }
}

/* #endregion */