/* #region General Styles */

body {
    font-family: var(--ff-text);
}

footer {
    padding-block: 1.5em;
}

svg {
    fill: var(--fill, #ffffff);
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* #endregion */

/* #region Composition */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.nowrap {
    flex-wrap: nowrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.overflow-visible {
    overflow: visible;
}

.stroke {
    stroke: var(--stroke, #ffffff);
    stroke-width: var(--stroke-width, 1);
}

/* #endregion */

/* #region Utility */

.cover-bg {
    background-image: url("../img/bg.webp");
    background-color: var(--clr-black);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-white {
    color: var(--clr-white);
}

.font-large {
    font-size: var(--fs-large);
}

.img-scaled {
    width: var(--img-size, 1em);
    height: var(--img-size, 1em);
}

.img-small {
    --img-size: 1.5em;
}

.img-big {
    --img-size: 6em;
}

/* #endregion */

/* #region Block */

.landscape {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.no-fill {
    fill: none;
}

/* #endregion */

/* #region Exception */

[data-gap="3"] {
    gap: 3em;
}

[data-min-height="large"] {
    min-height: calc(var(--fs-large) * 3);
}

[data-hover="grow"] {
    transition: transform .25s;
}

[data-hover="grow"]:hover,
[data-hover="grow"]:active {
    transform: scale(1.25);
    --fill: var(--clr-accent);
}

[data-margin-bottom="2"] {
    margin-bottom: 2em;
}

[data-animation="scroll"] path {
    animation: scroll 2.5s infinite;
}

[data-animation="scroll"] :first-child {
    animation-delay: -.15s;
}

[data-animation="scroll"] :last-child {
    animation-delay: 0;
}

/* #endregion */

/* #region Animations */

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    40% { opacity: 1; }
    80% { opacity: 0; }
    100% {
        opacity: 0;
        transform: translateY(25%);
    }
}

/* #endregion */